#header1 {
    display: inline;
    position: absolute;
    right: 100px;
}

#header2 {
    display: inline;
    position: absolute;
    right: 200px;

}

#header3{
    display: inline;
    position: absolute;
    right: 300px;

}